.layout-header {
  &.mobile {
    padding: 0;

    .logo {
      display: flex;
      padding: 0 16px;
    }

    .menu {
      font-size: 18px;
      color: #fff;
    }
  }
}

.header-drawer {
  :global {
    .ant-drawer-body {
      padding: 0;
      display: flex;
    }
  }
}
